
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using MyCheeseShop.Model;
@inject ProtectedSessionStorage ProtectedSessionStorage
@inject ShoppingCart ShoppingCart


<div class="card mb-3" style="width: 18rem;">
    <link rel="stylesheet" href="Store.css">
    <img src="/Img/Cheeses/@Cheese.ImageUrl" class="card-img-top" alt="...">
    <div class="card-body">
        <span class="badge rounded-pill text-bg-primary">@Cheese.Type</span> <span class="badge rounded-pill text-bg-danger"> @Cheese.Strength</span>
        
        <h5 class="card-title">@Cheese.Name £@Cheese.Price</h5>
        <p class="card-text">@Cheese.Description</p>
        <a href="#" class="btn btn-success">Add to Cart</a>
        <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Quantity
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">100g</a></li>
            <li><a class="dropdown-item" href="#">200g</a></li>
            <li><a class="dropdown-item" href="#">300g</a></li>
        </ul>
    </div>
</div>

@code {
    [Parameter]
    public Cheese Cheese { get; set; }

    private int quantity = 1;

    public async Task AddToCart()
    {
        ShoppingCart.AddItem(Cheese, quantity);
        await ProtectedSessionStorage.SetAsync("cart", ShoppingCart.GetItems());
    }
}


